body {
    text-align: center;
    margin: 10px;
}

canvas {
    margin: 20px auto;
}

/* .btn {
    padding: 10px;
    font-weight: 300;
    font-size: 1.2em;
    font-family: 'Lato';
    margin: 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 100px;
    top: 50px;
} */